body {
  font-family: helvetica;
  background-color: #aa6666;
}
h2 {
  letter-spacing: 10px;
  text-shadow: 1px 1px #cccccc;
  text-align: left;
}
h4 {
  color: #cccccc;
  letter-spacing: 7px;
  text-shadow: 1px 1px black;
  text-align: left;
}
.username {
  letter-spacing: 1px;
}
.wins {
  color: green;
}
.losses {
  color: red;
}